.buttonadmin {
	
	--offset: 5px;
	--border-size: 2px;
	
	display: block;
	position: relative;
	height: 3em;
    width: 10em;
    padding: .4em 1em;
	appearance: none;
	border: 0;
	background: $lightgray;
	color: $darkbeige;   ;
	text-transform: uppercase;
	letter-spacing: .15em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
  .leaf {
    position: absolute;
    opacity: 0;
    top: -1em;
    right: -.6em;
    height: 100%;
    transition: transform 300ms,opacity 150ms;
  }
	
	&:hover {
		background: rgba(136, 112, 112, 0.308);
    border-radius: 7px;
    .leaf{
      opacity: 1;
      transform: rotate(25deg);
    }
	}
	
	&__horizontal,
	&__vertical {
		position: absolute;
		top: var(--horizontal-offset, 0);
		right: var(--vertical-offset, 0);
		bottom: var(--horizontal-offset, 0);
		left: var(--vertical-offset, 0);
		transition: transform .8s ease;
		will-change: transform;
		
		&::before {
			content: '';
			position: absolute;
			border: inherit;
      border-radius: 3px;
		}
	}
	
	&__horizontal {
		--vertical-offset: calc(var(--offset) * -1);
		border-top: var(--border-size) solid currentcolor;
		border-bottom: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--vertical-offset) - var(--border-size));
			bottom: calc(var(--vertical-offset) - var(--border-size));
			left: calc(var(--vertical-offset) * -1);
			right: calc(var(--vertical-offset) * -1);
		}
	}
	
	&:hover &__horizontal {
		transform: scaleX(0);
	}
	
	&__vertical {
		--horizontal-offset: calc(var(--offset) * -1);
		border-left: var(--border-size) solid currentcolor;
		border-right: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--horizontal-offset) * -1);
			bottom: calc(var(--horizontal-offset) * -1);
			left: calc(var(--horizontal-offset) - var(--border-size));
			right: calc(var(--horizontal-offset) - var(--border-size));
		}
	}
	
	&:hover &__vertical {
		transform: scaleY(0);
	}
  
}

.delete-btn {
	background-color: $error;
	color: $white;
	padding: 0.3em 1em;
}

.watering-button {
	background-color: #0070f3; /* Initial background color */
	color: #ffffff; /* Initial text color */
	transition: background-color 0.3s, color 0.3s; /* Transition for color changes */
  }
  
  .watering-button.clicked {
	background-color: #34d399; /* New background color when clicked */
	color: #000000; /* New text color when clicked */
  }