.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modalbg;
  z-index: 9999; /* Ensure the modal is above other content */
  .modal-content {
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 90%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    background-color: $modalcontentbg;
  }
}

label {
  font-size: 1rem;
  font-weight: 600;
}
input {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 80px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 16px -18px inset;
  background-color: $input;
  padding: 0.2em 1em;
  border-radius: 30px;
  &::placeholder {
    font-size: 1rem;
    font-weight: 300;
    color: $black;
  }
  &::-webkit-calendar-picker-indicator {
    background-color: $lightgray;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  &:focus {
    outline: 3px solid $focus;
    background-color: $lightgray;
  }
}

.cardbg {
  display: flex;
  flex-direction: column;
  font-family: $title-font;
  color: $black;
  flex-direction: column;
  border: 1px solid rgba(150, 150, 150, 0.284);
  border-radius: 10px;
  box-shadow:
    rgba(255, 255, 255, 0.8) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.5) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 0.8em 0.8em;
  background-color: $lightgray;
}
.notecard {
  ::selection {
    background: #222;
    color: $yellow;
  }
  .paper {
    height: auto;
    line-height: 1.7em;
    background-color: #e7cdb3;
    background-size: 30px 30px;
    background-image: repeating-linear-gradient(0deg, #595958, #595958 1px, #d9d8d7 1px, #d9d8d7);
    padding: 0.5em;
    box-shadow: 1px 1px 5px rgba(black, 0.3);
  }
}
.noteInput-wrapper {
  padding: 0em 0.5em;
  background-color: $signinbg;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.red-background {
  border: 6px double $red;
  border-radius: 30px;
  background-color: transparentize($red, $amount: 0.8);
  animation: pulse infinite 1.5s ease-in-out;
}

.yellow-background {
  border: 6px double $yellow;
  background-color: transparentize($yellow, $amount: 0.8);
  animation: pulse forwards 2s ease-in-out;
}

.green-background {
  border: 6px double $green;
  border-radius: 30px;
  background-color: transparentize($green, $amount: 0.8);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.search {
  display: flex;
  align-items: center;
  text-align: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: $black;
    width: 100%;
    border-radius: 30px;
    animation: 0.8s forwards;
    font-size: 1.2rem;
    ::placeholder {
      color: $black;
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 1em #00000013;
      background-color: $lightgray;
      background-image: url(../components/icons/lotusFlower.svg);
      background-size: 50px 40px;
      background-position-x: 90%;
      background-position-y: 50%;
      background-repeat: no-repeat;
      transition: ease-in-out 0.9s;
      transform: background-image scale(1.4) rotate(30deg);
    }

    &:focus {
      outline: none;
      background-color: $beige;
      box-shadow:
        rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $black;
    }

    &:focus + .search__button {
      background-color: $beige;
    }
  }

  &__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: 0.1em;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    height: 1.3em;
    width: 1.3em;
    mix-blend-mode: darken;
  }
}

.site-input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: $black;
  border-radius: 30px;
  width: 100%;
  animation: 0.8s forwards;
  font-size: 1.2rem;
  padding: 0.1em 0.4em;
  background-color: $input;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 80px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 16px -18px inset;

  &:hover,
  &:focus {
    box-shadow: 0 0 1em #00000013;
    background-image: url(../components/icons/plantRoom.svg);
    background-size: 25px 35px;
    background-position-x: 90%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    transform: background-image scale(1.4) rotate(30deg);
  }
}

.admin {
  background-color: hsla(28, 11%, 71%, 0.3);
  background-image: radial-gradient(at 53% 54%, hsla(28, 11%, 71%, 0.3) 0px, transparent 50%),
    radial-gradient(at 76% 79%, hsla(0, 0%, 34%, 0.46) 0px, transparent 50%),
    radial-gradient(at 73% 21%, hsla(197, 8%, 83%, 0.3) 0px, transparent 50%),
    radial-gradient(at 31% 28%, hsla(39, 1%, 34%, 0.36) 0px, transparent 50%),
    radial-gradient(at 26% 69%, hsla(22, 0%, 94%, 0.3) 0px, transparent 50%);
  height: 90px;
  margin-top: -1%;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
