

.modal {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modalbg; 
   
    

    z-index: 9999; /* Ensure the modal is above other content */
    .modal-content {
      padding: 2rem;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      min-width: 90%;
      max-width: 30%;
      display: flex;
      justify-content: center;   
      background-color: $modalcontentbg ;
      
       
    } 
}

label{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
input{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 80px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 16px -18px inset;
    background-color: $input;
    padding: 0px 1rem;
    &:focus{
        outline: 3px solid $focus;
        background-color: $lightgray;
    }
}





.cardbg {
    display: flex;
    flex-direction: column;
    
    font-family: $title-font;
    color: $black;
    backdrop-filter: blur(10px);
    
    flex-direction: column;
    border: 1px solid rgba(150, 150, 150, 0.284);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 1rem 1rem;
    background-color: $signinbg;
}

.notecard {
    ::selection {
        background:#222;
        color:$yellow;
      }
      
    
      .paper {
       height: 15vh;
        line-height:1.5em;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.216) 1px, transparent 1px);
        background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
        background-image: -ms-linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px);
        background-size:100% 1.5em;
        background-position:0 1.2em;
        background-origin:content-box;
        background-color:rgba($yellow,.5); 
        padding:0.5em;
        box-shadow:0px 0px 10px rgba(black,.3);
      }
}


.red-background {
    border: 6px double $red;
    background-color: transparentize($red, $amount: 0.8);
    animation: pulse infinite 1.5s ease-in-out;
    }
    
.yellow-background {
border: 6px double $yellow;
background-color: transparentize($yellow, $amount: 0.8);
animation: pulse forwards 2s ease-in-out;
}

.green-background {
border: 6px double $green;
background-color: transparentize($green, $amount: 0.8);

}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
    
}