/* Color Theme Swatches in Hex */
$mutedPink: #F2BDC7;
$darkPink: #F288AF;
$mutedBlue: #59D9CC;
$darkBrown: #4C393B;
$brightYellow: #FFEA70;
$heading-color: #30382d;
$white: #f8f1f1;

/* Font Variables */
$heading-font: 'timberline', sans-serif;
$sub-heading-font: 'barber-outline', sans-serif;
$title-font: 'fp-head-pro', sans-serif;
$heading-size: 5rem;


